.jumbotron{
    background-image: url(../img/jumbot1.jpg);
    background-size: cover;
    height: 590px;
    margin-top: -14px;
   
}
 
.jumbotron .jumbot1{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 93px;
    margin-top:34px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.jumbot{
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 89px;
    margin-top: -32px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
   
}

.jumbot span{
    color: #00b51e;   
}

.jumbotron .lead{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.8);
    
}

.navbar-brand{
    font-family: 'Righteous', cursive;
    font-size: 19px;
}

.navbar-brand img{
    height: 84px;
    width: 82px;
}

.navbar.navbar-8 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}

.navbar-nav{
    margin-right: 379px;
}

.nav-link{
    margin-right: 37px;
    font-family: 'Alata', sans-serif;
}

.tombol{
    font-size: 22px;
    box-shadow: 0 3px 20px rgba(30,0,0,0.8);
}


.about h1{
    margin-top: 64px;
    font-family: 'Bebas Neue', cursive;
}

.about img{
    margin-top:46px;
}

.about p{
    margin-top: -7px;
}

.gallery  h1{
    font-family: 'Bebas Neue', cursive;
    margin-top: 43px;
    padding: 30px;
}

.gallery img{
    margin-top: -7px;
}

.menu{
    min-height: 540px;
}

.menu h1{
    font-family: 'Bebas Neue', cursive;
    margin-top: 61px;
}

.kosong{
	box-shadow: 0 10px 20px rgba(0,0,0,0.7);
	background-color: white;
    padding: 30px;
    margin-top: 17px;
}	


.kosong h3{
    font-family: 'Bebas Neue', cursive;
    color:black;
}

hr{
    border-bottom:3px solid rgb(255, 119, 7);
    width: 62%;
    
}
 



@media (min-width: 992px) {
.nav-link:hover::after{
		content: "";
		display: block;
		border-bottom:3px solid rgb(255, 119, 7);
		width: 80%;
		margin:auto;
		padding-bottom:5px;
		margin-bottom: -8px;
}

.navbar-brand{
    font-family: 'Righteous', cursive;
    font-size: 26px;       
}
.navbar-brand img{
    height: 119px;
    width: 118px;
    margin-left: 122px;
}

.jumbotron{
    margin-top: -22px;
    height: 610px;
}

.jumbotron, .jumbot1{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 132px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.jumbot{
    font-size: 132px;
    margin-top: -41px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}


.jumbotron .lead{
    font-size: 24px;
    margin-top: -25px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.tombol{
    font-size: 32px;
}

.about {
    margin-top: 124px;    
}

.about h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 37px;
    letter-spacing: 1px;
    margin-left: 124px;
    margin-top: -0px;
}

.about p{
    margin-left: 125px;
}

.gallery  h1{
    font-family: 'Bebas Neue', cursive;
    margin-top: 124px;
}



.menu h1{
    font-family: 'Bebas Neue', cursive;
    margin-top:124px;
    min-height: 40px;
}    

.kosong{
	box-shadow: 0 20px 10px rgba(0,0,0,0.30);
	background-color: white;
    padding: 30px;
    margin-top: 42px;
    
}	

.kosong h3{
    color:black;
    font-size: 31px;
}

hr{
   border-bottom:3px solid rgb(255, 119, 7);
   width: 80%;
   margin: auto;
  
}



}